nav {
    display: grid;
    grid-template-columns: auto;
    justify-content: right;
    background-color: black;
}

.menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    list-style-type: none;
    margin-right: 30px;
}

.menu ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
}

.top {
    margin-top: 0%;
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    background: rgba(0, 0, 0, 0.13);
    padding: 30px 0px;
}

.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
    /* input:focus  커서로 선택하는 순간 스타일지정
    input:hover 마우스 커서 올려놓을때 스타일지정
    input:active 마우스 클릭하는 순간의 스타일지정
    정확하게 이해 안되면 노션 스샷참고  */
}

.box button {
    background: #2ecc71;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    /* cursor 커서 모양변경 한두번하는거도 아니고 좀 기억하자;; */
}

.box button:active {
    background: #27ae60;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p span {
    cursor: pointer;
    color: #666;
}